body {
    margin: 0;
    font-family: Arial;
}
table{
    border-collapse: collapse;
}

table > tbody > tr > td {
    vertical-align: top;
}

.hidden {
    display: none;
}

.tree-view {
    padding: 0;
    margin: 0;
    width: 300px;
    border: 1px solid silver;
    overflow: auto;
}
.node {
    padding: 1px 3px;
    margin: 1px;
    min-height: 19px;
    font-size: 15px;
    background-color: #f7f9fb;
    border: 1px solid silver;
}
.node.placeholder {
    background-color: #cce5ff;
    border: 2px dashed #0095ff;
    height: 21px;
}
.node.group > span.node-name {
    min-width: 50px;
    color: #880808;
}
.node.expanded > span.node-name {
    font-weight: bold;
}
.nodes {
    margin-left: 1px;
}

.main-tabs{
    overflow-x: auto;
}
.tab {
    width: 149px;
    height: 21px;
    padding: 1px 5px;
    font-size: 15px;
    background-color: #f7f9fb;
    border: 1px solid silver;
    overflow: hidden;
}
.tab > .del {
    float: right;
}
.tab.active {
    font-weight: bold;
    background-color: #ffffff;
    border-bottom: none;
}